// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
  display:inline;
  list-syle: none;
}


body{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.container{
  flex: 0 0 auto;
  background-color: grey;
  padding: 30px;
  text-align: center;
  color: white;
}

